.additional__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.additional__list {
  list-style: none;
}

.additional__item-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.additional__value,
.additional__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

.additional__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  color: $white;
  background-color: $basic_green;
  text-transform: uppercase;
  text-decoration: none;
}
