.contacts__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $view-all-title;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}
