.example {
  background-color: $example-background;
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 86px;
  color: $special_dark-grey;
}

.example__cost {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}
