.programm-select {
  background: url("../img/index-background-mobile@1x.jpg");
  background-color: var(--programm-background);
  background-repeat: no-repeat;
}

.programm-select__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}

.programm-select__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--white);
  text-transform: uppercase;
}

.programm-select__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic_green);
  text-transform: uppercase;
  text-decoration: none;
}
