.stats__number {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;
}

.stats__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: var(--special_dark-grey);
}
