.view-all__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--view-all-title);
  text-transform: uppercase;
}

.view-all__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--special_dark-grey);
}

.view-all__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  color: var(--special_dark-grey);
  background-color: var(--basic_grey);
  text-transform: uppercase;
  text-decoration: none;
}
