@font-face {
  font-family: "Oswaldregular";
  src: url("..source/fonts/oswaldregular.woff2") format("woff2"),
    url("..source/fonts/oswaldregular.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Oswaldmedium";
  src: url("..source/fonts/oswaldmedium.woff2") format("woff2"),
    url("..sourceg/fonts/oswaldmedium.woff") format("woff");
  font-weight: 400;
}

.page__body {
  font-family: "Oswaldregular", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
