// Colors

$white: #ffffff;
$black: #000000;
$programm-background: #eeeeee;
$view-all-title: #111111;
$example-background: #eaeaea;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_grey: #f2f2f2;
$special_grey: #ebebeb;
$special_grey-2: #cdcdcd;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #ff8282;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
