.product__item {
  background-color: var(--basic_grey);
}

.product__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: var(--black);
}

.product__text {
  font-family: "arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
}

.product__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}
