:root {
  --basic_green: #68b738;
  --basic_green-2: #5eaa2f;
  --basic_grey: #f2f2f2;
  --special_grey: #ebebeb;
  --special_grey-2: #cdcdcd;
  --special_grey-3: #666666;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --status_error: #ff8282;
}

@import "page__body.scss";
@import "page-header.scss";
@import "main-nav.scss";
@import "programm-select.scss";
@import "product.scss";
@import "benefits.scss";
@import "page-footer.scss";
@import "page-main.scss";
@import "catalog.scss";
@import "view-all.scss";
