.view-all__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--view-all-title);
}

.view-all__text {
  font-family: "arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--special_dark-grey);
}

.view-all__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  color: var(--special_dark-grey);
}
